# ignore image files
data
images.zip

# ignore the virtual environment
venv

# ignore document files
assessment.pdf
Deep learning-enhanced diabetic retinopathy image classification.pdf
Records.docx
documents
